


/* .wrapper{
    box-sizing: content-box;
    height: 70px;
    display: flex;
} */
.words{
    overflow: hidden;
}
span{
    display: block;
    height: 100%;
    padding-left: 10px;
    color: white;
    animation: spin_words 6s infinite;
}
@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}
/* 
.circle{
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 z-index: -100;
 width: 100%;
 height: 500px;
 background: #000000;
 border-radius: 0 0 50% 50%/0 0 100% 100%;
 transform: scale(1.8);
  }
 */
